:root {
	--text0: #ffffff;
	--text1: #303038;
	--acc0: #ffffff;
	--acc1: #303038;
	--bg0: #303038;
	--bg1: #ffffff;
	--polygonOld: polygon(0 0, 100% 0, 50% 100%, 0 0);
	--polygon0: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
}

body {
	margin: 0px;
	width: 100%;
	min-height: 100vh;
	background: var(--bg0);
	color: var(--text0);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a {
	color: var(--text0);
	padding: 5px;
}

div#bg {
	z-index: -100;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: var(--bg0);
}

div#nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 0px;
	padding: 15px;
	width: calc(100% - 30px);
	border-bottom: 2px solid var(--acc0);
	font-size: 250%;
}

div#navText {
	font-weight: bold;
}

div.logo {
	background: var(--acc0);
	-webkit-mask: url("/OLLSheild.svg") no-repeat center / contain;
	mask: url("/OLLSheild.svg") no-repeat center / contain;
}

div#navLogo {
	background: var(--acc0);
	width: 64px;
	height: 64px;
}

div#navSpacer {
	flex-grow: 1;
}

div#navMenu {
	display: none;
	background: var(--acc0);
	-webkit-mask: url("/HamburgerMenu.svg") no-repeat center / contain;
	mask: url("/HamburgerMenu.svg") no-repeat center / contain;
	width: 64px;
	height: 64px;
}

div#sidebarMenu {
	display: none;
	background: var(--acc0);
	-webkit-mask: url("/CloseMenu.svg") no-repeat center / contain;
	mask: url("/CloseMenu.svg") no-repeat center / contain;
	width: 32px;
	height: 32px;
}

div#navLinks > a {
	text-decoration: none;
	transition: border-bottom 0.5s;
	border-bottom: 2px solid transparent;
}

div#navLinks > a:hover {
	border-bottom: 2px solid var(--acc0);
}

div#sidebar {
	z-index: 100; /* prevent clipping from other elements */
	display: none;
}

div#main {
	text-align: center;
	font-size: 150%;
}

div#main h1,
div#main h2,
div#main h3,
div#main h4,
div#main h5,
div#main h6 { /* remove margins */
	margin: 0px;
}

div#main > div.section0::after {
	content: "";/**/
	display: block;
	width: 100vw;
	height: 50px;
	color: transparent;
	background: var(--bg1);
	clip-path: var(--polygon0);
}

div#main > div.section1 {
	background: var(--bg1);
	color: var(--text1);
}

div#main > div.section1::after {
	content: "";/**/
	display: block;
	width: 100vw;
	height: 50px;
	background: var(--bg0);
	clip-path: var(--polygon0);
}

div#main > div.section2 {
	background: var(--bg1);
	color: var(--text1);
}

div#footer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0px;
	padding: 15px;
	width: calc(100% - 30px);
	font-size: 150%;
	color: var(--text1);
	margin-top: auto;
	background: var(--bg1);
}

div#footerContainer {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

div#footerText {
	font-weight: bold;
}

div#footerLogo {
	background: var(--acc1);
	width: 32px;
	height: 32px;
}

div.footerLinks > a {
	font-size: 75%;
	color: var(--text1);
}

@media only screen and (orientation: portrait) {
	div#nav {
		font-size: 150%;
	}

	div#navMenu, div#sidebarMenu {
		cursor: pointer;
		display: block;
	}

	div#navLinks {
		display: none;
	}

	div#sidebar {
		background: var(--bg);
		font-size: 200%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		min-width: calc(40vw + 5px);
		height: 100vh;
		padding: 15px;
		position: fixed;
		top: 0px;
		left: 100vw;
		transition: transform 0.2s;
		border-left: 2px solid var(--acc);
		overflow-y: auto;
	}

	div#sidebar > a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
	}

	div#sidebar > a::before {
		display: block;
		content: "";
		width: 100%;
		margin: 10px 0px;
		border-top: 2px solid var(--acc);
	}
}