:root {
	--text: #ffffff;
	--acc: #ffffff;
	--bg: #303038;
}

body {
	margin: 0px;
	width: 100%;
	min-height: 100%;
	background: var(--bg);
	color: var(--text);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}

a {
	color: var(--text);
	padding: 5px;
}

div#bg {
	z-index: -1;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: var(--bg);
}

div#nav {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 0px;
	padding: 15px;
	width: calc(100% - 30px);
	border-bottom: 2px solid var(--acc);
	font-size: 250%;
}

div#navText {
	font-weight: bold;
}

div.logo {
	background: var(--acc);
	-webkit-mask: url("/OLLSheild.svg") no-repeat center / contain;
	mask: url("/OLLSheild.svg") no-repeat center / contain;
}

div#navLogo {
	background: var(--acc);
	width: 64px;
	height: 64px;
}

div#navSpacer {
	flex-grow: 1;
}

div#navMenu {
	display: none;
	background: var(--acc);
	-webkit-mask: url("/HamburgerMenu.svg") no-repeat center / contain;
	mask: url("/HamburgerMenu.svg") no-repeat center / contain;
	background: var(--acc);
	width: 64px;
	height: 64px;
}

div#sidebarMenu {
	display: none;
	background: var(--acc);
	-webkit-mask: url("/CloseMenu.svg") no-repeat center / contain;
	mask: url("/CloseMenu.svg") no-repeat center / contain;
	background: var(--acc);
	width: 32px;
	height: 32px;
}

div#navLinks > a {
	text-decoration: none;
	transition: border-bottom 0.5s;
	border-bottom: 2px solid transparent;
}

div#navLinks > a:hover {
	border-bottom: 2px solid var(--acc);
}

div#sidebar {
	display: none;
}

div#main {
	text-align: center;
	font-size: 150%;
}

div#main > div.section0::after {
	/*content: "";/**/
	display: block;
	width: 100vw;
	height: 50px;
	background: var(--acc);
	clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
}

@media only screen and (orientation: portrait) {
	div#nav {
		font-size: 150%;
	}

	div#navMenu, div#sidebarMenu {
		cursor: pointer;
		display: block;
	}

	div#navLinks {
		display: none;
	}

	div#sidebar {
		background: var(--bg);
		font-size: 200%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		min-width: calc(40vw + 5px);
		height: 100vh;
		padding: 15px;
		position: fixed;
		top: 0px;
		left: 100vw;
		transition: transform 0.2s;
		border-left: 2px solid var(--acc);
		overflow-y: auto;
	}

	div#sidebar > a {
		text-decoration: none;
		border-bottom: 2px solid transparent;
	}

	div#sidebar > a::before {
		display: block;
		content: "";
		width: 100%;
		margin: 10px 0px;
		border-top: 2px solid var(--acc);
	}
}